services:
  api:
    build:
      dockerfile: ./dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"

    environment:
      PYTHONUNBUFFERED: "1"
    restart: unless-stopped
    command: ["python", "-m", "api.app"]